@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-100 bg-slate-900;
  }
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

@layer components {
  nav {
    @apply h-[80px] flex items-center justify-center lg:px-10;
  }
  main {
    @apply container flex flex-col min-h-screen;
  }
  .container {
    @apply w-auto max-w-none;
  }

  section {
    @apply border bg-gray-800 w-full lg:max-w-[60vw] md:max-w-[90vw] flex flex-col gap-5;
  }

  .btn {
    @apply px-3 py-2 border hover:bg-gray-500 bg-blue-600 min-w-[80px];
  }

  input,
  button {
    @apply px-4 py-1 border ;
  }

  input {
    @apply flex-grow text-black placeholder:text-black;
  }

  footer {
    @apply flex justify-center px-8 py-6;
  }
}
